html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picture {
    height: 500px;
    width: 500px;
}

.text {
    display: block;
}

.america {
    color: red;
}